@import "tailwindcss";

:root {
  --background: #f6f7fa;
  --foreground: #171717;

  --font-geist-sans: system-ui, sans-serif;
  --font-geist-mono: monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #0070f3;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

input {
  outline: none;
}
